PORT=5000
DB_HOST=localhost
DB_PORT=3306
DB_USER= #Tên Workbench
DB_PASSWORD= #Mật khẩu Workbench
DB_NAME= #Ten DB
DB_SSL=false #Set to true for cloud hosting like Aiven
JWT_SECRET= #Key JWT
FRONTEND_URL=http://localhost:5173

BREVO_API_KEY= #Brevo API Key (xkeysib-...)
BREVO_SENDER_EMAIL= # Verified sender email Brevo
BREVO_SENDER_NAME=LuxEstates # Default display name

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME= #Tên cloundiary
CLOUDINARY_API_KEY= #Api key
CLOUDINARY_API_SECRET= #Api secret key

# Stripe
STRIPE_SECRET_KEY= #Ten Stripe
STRIPE_WEBHOOK_SECRET= #Webhook Stripe
